
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: lightgray;
}

.item
{
    flex:1;
    align-self:center;
    background-color: wheat;
    color: white;
}

.header
{
    grid-area: header;
}

.container2
{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 10px;
padding: 10px;
background-color: aqua;
}

.item2
{
background-color:light lightblue;
color:dimgray;
padding: 20px;
text-align: center;
font-size: 16px;

}